<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/security
	   http://www.springframework.org/schema/security/spring-security.xsd">
	   
	   <security:http auto-config = "true">
	   <security:intercept-url pattern="webapp/assets/**" access="permitALL" />
	   <security:intercept-url pattern="/login" access="permitALL" />
	   <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
	   
	   <security:form-login 
	   login-page="/login"
	   username-parameter="username"
	   password-parameter="password"
	   authentication-success-forward-url="/userLogged"
	   authentication-failure-forward-url="/error" />

	   <security:logout logout-url = "/logout" invalidate-session = "true" logout-success-url = "/" />
	   <security:access-denied-handler error-page = "/error" />
	   <security:csrf disabled="true" />
	   </security:http>
	   
	   <security:authentication-manager>
	   		<security:authentication-provider>
	   			<security:jdbc-user-service data-source-ref="dataSource"
	   			users-by-username-query = "select email,password, TRUE as enabled from user where email = ?"
	   			authorities-by-username-query="select email, Role from user where email = ?"/>
	   		</security:authentication-provider>
	   </security:authentication-manager>
	   
	   </beans>